.container {
    max-width: 800px;
    margin: 12px 20px;
    }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #f0ad4e;
    color: #fff;
    border: none;
  }
  
  .delete-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
  }
  
  div#date {
    margin-left: 1080px;
    font-size: 25px;
  }
